<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>서비스 소개</title>
  <style>
    body {
      font-family: 'Inter', sans-serif;
      background-color: #f0fff4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .text-center {
      text-align: center;
      color: #2f6846;
    }
  </style>
</head>
<body>
  <div class="text-center">
    <h1>my_prd_app_kevin</h1>
    <p>친환경 농산물 상품을 체계적으로 관리하는 웹 애플리케이션입니다.</p>
    <p>이 페이지는 자동 배포 테스트용으로 수정 되었습니다. kevin.</p>
  </div>
</body>
</html>

